*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #3d6558;
    font-family: 'Inter', sans-serif;
}

nav{
    height: 90px;
    width: 100%;
}

.nav-links{
    padding-top: 25px;
    display: flex;
    align-items: center;
    width: 80%;
    margin: auto;
}

.logo a{
    color: white;
    text-decoration: none;
    font-size: 40px;
    font-weight: bold;
}
.nav-links ul{
    display: flex;
    gap: 50px;
    list-style: none;
    margin-left: auto;
}

.nav-links ul li a{
    color: #aebbb6;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}

.nav-links ul li::after {
    content: '';
    margin-top: 5px;
    width: 0;
    height: 5px;
    background: #f9bf3b;
    display: block;
    transition: 0.5s;
}

.nav-links ul li:hover::after{
    width: 100%;
}

.hero{
    display: flex;
    height: 585px;
   align-items: center;
   padding: 0 12%;
   position: relative;
   overflow: hidden;
}
.hero-text{
    width: 45%;
}

.hero-text h1{
    font-size: 50px;
    font-weight: 70%;
    line-height: 1.15;
    color: white;
}
.hero-text p{
    font-size: 15px;
    line-height: 1.8;
    color: #aab9b3;
}
.hero-image{
    width: 60%;
    position: relative;
    z-index: 2;
}
.hero-image img{
    width: 100%;
    filter: drop-shadow(0 25px 20px rgba(0, 0, 0, 0.18));
}
.buttons button{
    padding: 14px 30px;
    border-radius: 35px;
    border: none;
    cursor: pointer;
    transition: all 0.5s ease;
}
.buttons button:hover{
    transform: translateY(-3px) scale(1.02);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.15);
}
.buttons button:first-child{
    background-color: #f9bf3b;
    color: #222;
}

.buttons button:first-child:hover{
    background-color: #ffd166;
}
.buttons .explore{
    background-color: transparent;
    border: 2px solid;
    color: white;
}

.buttons .explore:hover{
    background-color: white;
    color: #3d6558;
}
.products{
    background-color: #eff2f1;
    min-height: 500px;

    display: flex;
    align-items: center;
    padding: 80px 10%;
    gap: 30px;
}
.product-intro{
    width: 25%;

}
.product-intro h2{
    font-size: 30px;
    line-height: 1.2;
    font-weight: 600;
    color: #2f2f2f;
}
.product-intro p{
    font-size: 15px;
    line-height: 1.8;
    color: #6b6b6b;
    margin-top: 20px;
}
.product{
    width: 25%;
    text-align: center;
}
.product img{
    width: 100%;
    display: block;
    transition: transform 0.3s ease;
}

.product img:hover{
    transform:  scale(1.05) translateY(-5px);
    box-shadow: 0 10px 25px rgpa(black);
}
.product h3{
    font-size: 16px;
    font-weight: 500;
    margin-top: 15px;
}
.product strong{
    font-size: 15px;
}
.product-button{
    border: 2px solid white;
    color: white;
    padding: 14px 30px;
    border-radius: 35px;
    cursor: pointer;
    background-color: black;
    transition: color 1s ease;
    transition: transform 0.5s ease, box-shadow 0.5s ease;
    
}

.product-button::before{
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #f9bf3b;
    transition: width 1s ease;
}
.product-button :hover::before{
    width: 100%;
}

.product-button:hover{
    background-color: #f9bf3b;
    color: #3d6558;
    transform: translateY(-3px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    transform: scale(1.05);
    box-shadow: 0 15px 30px  rgba(0, 0, 0, 0.2);
}
.why-choose-us{
    min-height: 700px;
    background-color: beige;
    display: grid;
    align-items: center;
    padding: 80px 15%;
}
.why-content{
    width: 55%;

}
.why-content h2 {
    font-size: 32px;
    font-weight: 600;
    color: #222;
    margin: 0 0 10px 0;
}
.why-content > p {
    font-size: 14px;
    line-height: 1.8;
    color: #6b6b6b;
    width: 90%;
    margin: 0;
}

.why-image{
    overflow: hidden;
    border-radius: 20px;
}
.why-image img{
    transition: transform 0.5s ease, box-shadow 0.5s ease;
}

.why-image:hover img{
    transform: scale(1.05);
    box-shadow: 35px 35px 30px 35px rgba(0.2, 0.2, 0.2, 0.2);
}

.features{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px 35px;
    margin-top: 45px;
}
.feature-icon{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}

.feature-icon i {
    font-size: 50px !important;
}
.feature h3{
    font-size: 15px;
    color: #333;
    font-weight: 600;
    margin-bottom: 10px;

}
.feature p{
    font-size: 15px;
    line-height: 2;
    color: #6b6b6b;
}
.why-image {
    grid-column: 2;
    grid-row: 1 / span 2;

    width: 100%;

    position: relative;

    padding-left: 30px;

    box-sizing: border-box;
}
.why-image img {
    width: 100%;

    height: 580px;

    object-fit: cover;

    display: block;

    border-radius: 20px;

    position: relative;

    z-index: 2;
}

.nav-links ul li a.active{
    color: white;
}
.nav-links ul li a.active::after{
    content: " ";
    display: block;
    width: 100%;
    height: 5px;
    background-color: #f9bf3b;
    margin-top: 8px;
}

.contact{
    background-color:#eff2f1;
    min-height: 600px;
    padding: 80px;
    display: flex;
    justify-content: center;

}
.contact-content{
    width: 70%;
}

.contact h1{
    font-size: 50px;
    color: #222;
    margin-bottom: 10px;
}
.contact p{
    font-size: 20px;
    margin-bottom: 35px;
    color: #6b6b6b;
}
.contact form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.contact textarea {
    width: 100%;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 15px;
    font-family: inherit;
}
.contact input{
     width: 100%;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 15px;
    font-family: inhboerit;
}
.contact textarea {
    height: 150px;
    resize: none;
}
.contact button {
    width: fit-content;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    background-color: #f9bf3b;
    transition: 0.3s;
    padding: 14px 30px;
    
}
.contact button:hover {
    transform: translateY(-3px);
    box-shadow: 0 8px 15px;
}

.about {
     min-height: 600px;
    background-color: #eff2f1;
    display: flex;
    align-items: center;
    gap: 60px;
    padding: 80px 12%;
}

.about-text{
    width: 50%;
}

.about-text p{
    font-size: 15px;
    line-height: 1.8;
    color: #6b6b6b;
}

.about-text h1{
    font-size: 45px;
    color: #222;
    margin-bottom: 20px;
}
.about-image{
    width: 50%;
}
.about-image img {
    display: block;
    width: 100%;
    border-radius: 20px;
}